/* COMMONS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Arial", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #999;
}

header .container {
  overflow: hidden;
  height: inherit;
  padding: 0 1.5rem;
}

header .container .logo {
  float: left;
  font-size: 2rem;
  line-height: 100px;
}

header .container .center-nav {
  float: left;
  margin-left: 2rem;
}

header .container .right-nav {
  float: right;
}

header .container .center-nav ul,
header .container .right-nav ul {
  overflow: hidden;
  list-style: none;
}

header .container .center-nav li,
header .container .right-nav li {
  float: left;
  height: 100px;
  line-height: 100px;
}

header .container .center-nav li ~ li,
header .container .right-nav li ~ li {
  margin-left: 2rem;
}

header .container .center-nav li a,
header .container .right-nav li a {
  font-size: 1.25rem;
}

/* FOOTER */
footer {
  height: 100px;
  background-color: #999;
  line-height: 100px;
  text-align: center;
}

footer .title {
  font-size: 2rem;
}

/* MAIN */
main {
  position: relative;
  display: block; /* IE */
  overflow: hidden;
}

main > .left,
main > .center,
main > .right {
  padding: 1rem;
}

/* MAIN LEFT */
main .left {
  float: left;
  width: 250px;
  height: 800px;
  background-color: salmon;
}

main .left .title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

main .left ul {
  margin-left: 1.25rem;
}

main .left ul li ~ li {
  margin-top: 0.5rem;
}

/* MAIN CENTER */
main .center {
  overflow: hidden;
  height: 800px;
  margin-right: 250px;
  background-color: #444;
}

main .center .title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

/* MAIN RIGHT */
main .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 800px;
  background-color: royalblue;
}

main .right .item ~ .item {
  margin-top: 1rem;
}

main .right .item .title {
  margin-bottom: 0.5rem;
}

/* MEDIA QUERY */
@media (max-width: 1024px) {
  main .center {
    margin-right: 0;
  }
  main .right {
    position: static;
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  header .container {
    padding: 0;
  }
  header .container .logo {
    display: none;
  }
  header .container .center-nav {
    float: none;
    margin-left: 0;
  }
  header .container .right-nav {
    float: none;
  }
  header .container .center-nav ul li,
  header .container .right-nav ul li {
    float: none;
    height: auto;
    padding: 1rem 0;
    line-height: normal;
    text-align: center;
  }
  header .container .center-nav ul li ~ li,
  header .container .right-nav ul li ~ li {
    margin-left: 0;
  }
  main .left {
    width: 100%;
    height: auto;
  }
  main .center {
    height: auto;
  }
}
