/* COMMONS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Arial", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* HEADER */
header {
  height: 100px;
  background-color: #999;
}

header .container {
  padding: 0 1.5rem;
  display: flex;
  height: inherit;
  align-items: center;
}

header .container .logo {
  font-size: 2rem;
}

header .container .center-nav {
  margin-left: 2rem;
}

header .container .right-nav {
  margin-left: auto;
}

header .container .center-nav ul,
header .container .right-nav ul {
  display: flex;
  list-style: none;
}

header .container .center-nav li ~ li,
header .container .right-nav li ~ li {
  margin-left: 2rem;
}

header .container .center-nav li a,
header .container .right-nav li a {
  font-size: 1.25rem;
}

/* FOOTER */
footer {
  height: 100px;
  background-color: #999;
  line-height: 100px;
  text-align: center;
}

footer .title {
  font-size: 2rem;
}

/* MAIN */
main {
  display: flex;
}

main > .left,
main > .center,
main > .right {
  padding: 1rem;
}

/* MAIN LEFT */
main .left {
  flex: 0 0 250px;
  background-color: salmon;
}

main .left .title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

main .left ul {
  margin-left: 1.25rem;
}

main .left ul li ~ li {
  margin-top: 0.5rem;
}

/* MAIN CENTER */
main .center {
  height: 800px;
  background-color: #444;
}

main .center .title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

/* MAIN RIGHT */
main .right {
  flex: 0 0 250px;
  background-color: royalblue;
}

main .right .item ~ .item {
  margin-top: 1rem;
}

main .right .item .title {
  margin-bottom: 0.5rem;
}

/* MEDIA QUERY */
@media (max-width: 1024px) {
  main {
    flex-wrap: wrap;
  }

  /* For IE 10+ */
  main .left {
    width: 250px;
    flex: auto;
  }

  main .center {
    width: calc(100% - 250px);
  }

  main .right {
    flex: auto;
  }
}

@media (max-width: 768px) {
  header {
    height: auto;
  }

  header .container {
    padding: 0;
    flex-direction: column;
  }

  header .container .logo {
    display: none;
  }

  header .container .center-nav,
  header .container .right-nav {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  header .container .center-nav ul,
  header .container .right-nav ul {
    flex-direction: column;
  }

  header .container .center-nav ul li ~ li,
  header .container .right-nav ul li ~ li {
    margin-left: 0;
  }

  header .container .center-nav ul li a,
  header .container .right-nav ul li a {
    display: block;
    padding: 1rem 0;
  }

  main {
    flex-direction: column;
  }

  main .left {
    /* Check line 130 comment */
    width: auto;
  }

  main .center {
    width: auto;
    height: auto;
  }
}
